@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, */
body {
    @apply overflow-scroll;
    width: 400px;
    max-height: 740px;
}

button {
    @apply btn;
}

.toggle, .badge, .rounded-pill {
    border-radius: 5rem
}